* {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
  background-color: #eee;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20vh;
  background: #00bcd5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card {
  position: relative;
  display: flex;
  margin: 15vh auto;
  flex-direction: column;
  background: #fff;
  border-radius: 2px;
  width: 70vw;
  height: 70vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h1,
h6,
form {
  margin: 15px auto;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  width: 80%;
  text-align: center;
}

textarea {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
  min-width: 60vw;
  height: 25vh;
}

.btn {
  width: 50px;
  background-color: #d51900;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.btn:active {
  background-color: #8f2121;
  box-shadow: 0 5px rgba(0, 0, 0, 0.19);
}

@media (max-width: 1053px) {
  .card {
    width: 75vw;
  }
}

@media (max-width: 715px) {
  .card {
    width: 80vw;
  }

  h1 {
    font-size: 50px;
  }

  h6 {
    font-size: 18px;
  }
}

@media (max-width: 690px) {
  h1 {
    font-size: 40px;
  }

  h6 {
    font-size: 16px;
  }
}

@media (max-width: 715px) {
  .card {
    width: 90vw;
  }
}

@media (max-width: 476px) {
  h1,
  h6,
  form {
    margin: 15px 20px;
  }

  h6 {
    text-align: left;
  }

  .btn {
    bottom: -20px;
    right: 5px;
  }
}
